<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484096805604-m370n9dsekd4arooq47jceo3ljlj18eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484096805604-m370n9dsekd4arooq47jceo3ljlj18eb</string>
	<key>API_KEY</key>
	<string>AIzaSyCR16yfDt4o2eoJggT89fEl7bnYHFPPoh4</string>
	<key>GCM_SENDER_ID</key>
	<string>484096805604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyc.c4q.AC4.3.FlashTime</string>
	<key>PROJECT_ID</key>
	<string>flashtime-ce22d</string>
	<key>STORAGE_BUCKET</key>
	<string>flashtime-ce22d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484096805604:ios:5d6ceccf06738f2f</string>
	<key>DATABASE_URL</key>
	<string>https://flashtime-ce22d.firebaseio.com</string>
</dict>
</plist>